<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34944131710-cl4e4lvl2hvqapa0s5fecv0pdafoubgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34944131710-cl4e4lvl2hvqapa0s5fecv0pdafoubgv</string>
	<key>API_KEY</key>
	<string>AIzaSyBtHoLciBx-2G1CcN23MHeOybV44K0VDc0</string>
	<key>GCM_SENDER_ID</key>
	<string>34944131710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pushnotif</string>
	<key>PROJECT_ID</key>
	<string>android-testing-9c5a8</string>
	<key>STORAGE_BUCKET</key>
	<string>android-testing-9c5a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34944131710:ios:9bf8b90500a4bde4662e2f</string>
</dict>
</plist>